## CSI Miner parameter input file

###################
# Core Input File #
CANCER_EXON_MATRIX = /home/gatechatl/CSI-Miner/StJudeHPCExample/Pediatric_Cancer_FPKM_final.txt
NORM_EXON_MATRIX = /home/gatechatl/CSI-Miner/StJudeHPCExample/GTEx_7526_FPKM_final.txt
QUERY_GENELIST = /home/gatechatl/CSI-Miner/StJudeHPCExample/updated_extracellular_genelist.txt
CANCER_SAMPLE2DISEASETYPE = /home/gatechatl/CSI-Miner/StJudeHPCExample/Diagnosis_Solid_Clinical_PCGP_TARGET_Sample2DiseaseType.txt
NORM_SAMPLE2TISSUETYPE = /home/gatechatl/CSI-Miner/StJudeHPCExample/GTEx_SampleID2Histology.txt

# Name that will be used in the pipeline
CANCER_PREFIX = PCGP_TARGET_Clinical
NORM_PREFIX = GTEx
###################


## Additional Parameter ## 

