# config file for the WRAP: wrapper for my RNA analysis pipeline

# STAR mapping
STAR_INDEX_DIR = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/FASTA/star/
CHR_NAME_LENGTH_FILE = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/FASTA/star/chrNameLength.txt

# RSEQC
RSEQC_REFSEQ_BED = /home/gatechatl/References/genomic/rseqc_references/hg38_RefSeq.bed
RSEQC_HOUSE_KEEPING_GENE_BED = /home/gatechatl/References/genomic/rseqc_references/hg38.HouseKeepingGenes.bed
RSEQC_RIBOSOME_BED = /home/gatechatl/References/genomic/rseqc_references/hg38_rRNA.bed
RSEQC_NOWIG = false 

# PSIPSO
PRIMARY_GTF_REF = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/GTF/gencode.v35.primary_assembly.annotation.gtf
PRIMARY_GTF_EXON_REF = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/pipeline/ExonReference/gencode.v35.primary_assembly.annotation.exon.gtf 
SPLICING_DEFICIENCY_CONFIG = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/pipeline/splicing_deficiency/splicing_deficiency.config

# JUNCSALVAGER
JUNCSALVAGER_GENELIST = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/pipeline/JUNCSALVAGER/gene_list.txt

# EXON PIPELINE
PRIMARY_GTF_EXON_LENGTH = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/pipeline/ExonReference/gencode.v35.primary_assembly.annotation.exon.length.txt 

# KALLISTO PIPELINE


# RSEM PIPELINE


# GENESET ssGSEA analysis 


# RNAEDITING PIPELINE
PRIMARY_FASTA = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/FASTA/GRCh38.primary_assembly.genome.fa
RNAEDITING_VARIANTS = /home/gatechatl/References/genomic/hg38_release35_GRCh38.p13/pipeline/rnaediting_references/pcgp_rnaediting_hg38_sites_updated.txt 

# Run Optityping
OPTITYPE_PROGRAM = /home/gatechatl/anaconda3/bin/OptiTypePipeline.py 

# Check expression of mitochondria


# Check expression of Ribosomes


# Check expression of representative lincRNA


# Check expression of HERV RNAs


## Advance mode ##
SKIP_BAM2FASTQ = true
SKIP_STAR = true
SKIP_FASTQC = true
SKIP_RSEQC = false
SKIP_PSI_PSO_CALC = true
SKIP_SPLICING_DEFICIENCY = true
SKIP_HTSEQ_EXON_QUANT = true
SKIP_HTSEQ_GENE = true
SKIP_JUNCSALVAGER = true
SKIP_RNAEDIT = false
SKIP_OPTITYPE = false
SKIP_KNOWNVARIANTS = false
SKIP_RNAINDEL = false
